@import url('singolo1.css');
@import url('singolo2.css');

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

.feedback {
    background: #f06c64;
    padding: 62px 0 0;
    border-bottom: 6px solid #ea676b;
}

.feedback-heading h2 {
    color: #f0d8d9;
    font-weight: 900;
    font-size: 3rem;
    letter-spacing: -0.22px;
}

.feedback-heading {
    margin-bottom: 17px;
}

.feedback__text {
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0 0 42px 1px;
    color: #fff;
    letter-spacing: -0.22px;
    text-align: justify;
    line-height: 30px;
}

.layout-2-column {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feedback__form {
    display: flex;
    flex-direction: column;
    width: calc(66% - 1px);
}

.form__input_text,
.form__textarea_text,
.form__input_submit {
    margin-bottom: 16px;
    background: #d6564f;
    border: none;
    color: #fff;
    padding: 11.5px 12px;
    border-radius: 5px;
}

input.form__input_text::-webkit-input-placeholder,
textarea.form__textarea_text::-webkit-input-placeholder {
    color: #f48c8f;
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 2px;
    font-family: 'Lato';
}

textarea.form__textarea_text::-webkit-input-placeholder {
    padding-left: 4px;
    letter-spacing: -0.1px;
}

.form__textarea_text {
    resize: none;
    padding-bottom: 25px;
}

.form__input_submit {
    background: #ff4b40;
    border: 1px solid #f0d8d9;
    margin-bottom: 11px;
    transition: all .3s;
}

.form__input_submit:hover {
    cursor: pointer;
    border: 1px solid #ff4b40;
    box-shadow: -5px 5px 1px;
}

.form__input_submit:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.feedback__contact-info {
    width: calc(34% - 20px);
    color: #f0d8d9;
}

.contact-info {
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: 0.1px;
    word-spacing: -1px;
    margin: -1px 0 8px;
}

.contact-description {
    font-weight: 400;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 22.9px;
    letter-spacing: -0.05px;
    margin: -1px 0 22px;
}

.contact__links {
    display: flex;
    flex-direction: column;
    line-height: 21.56px;
}

.contact__links .contact__link:first-child {
    margin-left: 3px;
    letter-spacing: -0.2px;
}

.contact__links .contact__link:nth-child(2) {
    margin-left: 1px;
    letter-spacing: -0.15px;
}

.contact__links .contact__link:last-child {
    margin-top: 1px;
}

.contact__link {
    color: #f0d8d9;
    transition: all .3s ease-in-out;
    font-weight: 400;
    text-align: justify;
    font-size: 1.2rem;
    letter-spacing: -0.05px;
    max-width: 150px;
}

.contact__link .location,
.contact__link .phone,
.contact__link .email {
    fill: #f0d8d9;
    transition: all .3s ease-in-out;
}

.contact__link .location {
    margin-right: 10px;
}

.contact__link .phone {
    margin-right: 8px;
}

.contact__link .email {
    margin-right: 7px;
}

.contact__link:hover {
    color: #fff;
}

.contact__link:hover span {
    fill: #fff;
}

.footer {
    background: #2d303a;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 76px;
}

.copyright {
    color: #666d89;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: -0.05px;
}

.social-links_centered {
    margin-right: -4px;
    padding-top: 5px;
}