.portfolio {
    background: #2d303a;
    border-bottom: 6px solid #323746;
    padding: 63px 0 66px;
}

.portfolio-heading {
    letter-spacing: 0.29px;
}

.portfolio-heading h2 {
    color: #666d89;
    font-weight: 900;
    font-size: 3rem;
}

.portfolio__text {
    font-size: 1.8rem;
    font-weight: 300;
    margin: 21px 0 0 1px;
    color: #767e9e;
    letter-spacing: -0.2px;
}

.portfolio__img-category {
    margin: 14px 0 21px;
}

.img-category {
    font-size: 1.2rem;
    font-weight: 400;
    color: #767e9e;
    border: 1px solid #767e9e;
    border-radius: 5px;
    margin: 0 5px 0 1px;
    padding: 4px 7px;
    letter-spacing: -0.2px;
    transition: all .3s ease-in-out;
}

.img-category:nth-child(4) {
    padding: 4px 6px;
    margin-left: 0px;
    letter-spacing: -0.1px;
}

.img-category.category_active {
    cursor: pointer;
    color: #fff;
    border-color: #fff;
}

.img-category:hover {
    cursor: pointer;
    color: #fff;
    border-color: #fff;
}

.portfolio__img {
    max-height: 602px;
    overflow: hidden;
}

.layout-4-column {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio__image {
    margin-bottom: 20px;
    width: 220px;
    height: 187px;
    transition: all .3s ease-in-out;
}

.portfolio__image:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.about-us {
    background: #f2f2f2;
    padding: 62px 0;
    border-bottom: 6px solid #fff;
}

.about-heading h2 {
    color: #666d89;
    font-weight: 900;
    font-size: 3rem;
    letter-spacing: -0.16px;
    margin-left: 1px;
}

.about__text {
    font-size: 1.8rem;
    font-weight: 300;
    margin: 17px 0 43px;
    color: #767e9e;
    letter-spacing: -0.21px;
    text-align: justify;
    line-height: 30px;
}

.employee {
    display: flex;
    flex-direction: column;
    width: calc(33% - 10px);
}

.employee:nth-child(2) {
    margin-left: -1px;
}

.employee:nth-child(3) {
    margin-right: -0.5px;
}

.employee__photo {
    width: 100%;
}

.employee__name {
    font-size: 1.8rem;
    color: #666d89;
    font-weight: 900;
    letter-spacing: -0.12px;
    margin: 17px 0 0 -1px;
    white-space: nowrap;
    overflow: hidden;
}

.employee:first-child .employee__name {
    margin-left: -0.4px;
    letter-spacing: 0;
}

.employee:last-child .employee__name {
    letter-spacing: 0.15px;
}

.employee__text {
    color: #767e9e;
    font-weight: 400;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 21.56px;
    margin-top: 7px;
}

.employee:first-child .employee__text {
    letter-spacing: -0.14px;
}

.employee:last-child .employee__text {
    letter-spacing: -0.1px;
}

.social-links {
    margin-top: 23px;
}

.social__link {
    margin-right: 4px;
}

.employee:first-child .social__link,
.employee:nth-child(2) .social__link {
    margin: 0 3px 0 1px;
}

.social-links svg {
    fill: #666d89;
    transition: all .3s ease-in-out;
}

.facebook__link svg:hover {
    fill: #157dc3;
}

.google-plus__link svg:hover {
    fill: red;
}

.twitter__link svg:hover {
    fill: #3fa6db;
}

.linkedin__link svg:hover {
    fill: black;
}

/* js dynamic blocks */

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    opacity: 0;
    position: fixed;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
    top: 0;
    left: 0;
    transition: all .3s;
}

.magnify-wrapper {
    position: relative;
    z-index: 2;
}

.image_full {
    width: 100%;
}

.close {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: red;
    z-index: 2;
    transition: all .3s ease-in;
}

.close::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    transform: rotate(45deg);
    top: 17px;
    transition: all .3s ease-in;
}

.close::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    transform: rotate(135deg);
    top: 17px;
    transition: all .3s ease-in;
}

.close:hover {
    background: #fff;
    cursor: pointer;
}

.close:hover::after,
.close:hover::before {
    background: red;
}

.next,
.previous {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, .5);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    transition: all .2s;
    opacity: 0;
}

.previous.show-arrows-left,
.next.show-arrows-right {
    opacity: 1;
    transition: all .2s;
}

.previous.show-arrows-left {
    left: 0;
}
.next.show-arrows-right {
    right: 0;
}

.next {
    right: -50px;
}

.previous {
    left: -50px;
}

.next:hover,
.previous:hover {
    cursor: pointer;
}

.tooltip {
    position: fixed;
    padding: 10px;
    background: black;
    color: #fff;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    top: 5px;
    opacity: 0;
}

.tooltip::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid black;
}

.magnify-img-item {
    display: flex;
    overflow: hidden;
}
    
/* js dynamic blocks */